environment:
  nodejs_version: "18"

branches:
  only:
    - master
    - main

cache: node_modules

install:
  - npm install
  - npx puppeteer browsers install chrome

build: off

build_script:
  - npm run build
  # Запуск сервера в фоне
  - npm run start

# Тестовые команды
test_script:
  - npm run lint
  - npm run test
  - npm run e2e