environment:
  nodejs_version: "18"

branches:
  only:
    - master  # ветка git
    - main

cache: node_modules  # кеширование

install:
  - npm install
  - npx puppeteer browsers install chrome

build: off  # отключаем встроенную в appveyor систему сборки

before_script:
  - start /b npm run start  # запуск сервера в фоне (Windows)
  - |
    # Ожидание, пока сервер не станет доступен (на примере curl)
    powershell -Command "
    $maxRetries = 15; # число попыток
    for ($i=0; $i -lt $maxRetries; $i++) {
      try {
        $response = Invoke-WebRequest -Uri http://localhost:9000 -UseBasicParsing -TimeoutSec 1
        if ($response.StatusCode -eq 200) {
          break
        }
      } catch {
        # ничего не делаем, ждем дальше
      }
      Start-Sleep -Seconds 1
    }
    if ($i -eq $maxRetries) { throw 'Server did not start in time' }
    "

build_script:
  - npm run build   # команда сборки

test_script:
  - npm run lint
  - npm run test
  - npm run e2e